html {
	height: 100%;
}

body {
	background: #eee;
	font-family: arial, STHeiti, 'Microsoft YaHei', \5b8b\4f53;
	font-size: 14px;
	height: 100%;
}

.nk-container {
	position: relative;
	height: auto;
	min-height: 100%;
}

.container {
	width: 960px;
	padding: 0;
}


/* 字体默认颜色为黑色，鼠标悬停时为淡绿色 */
header .nav-link {
	color: black !important;  /* 强制黑色 */
	transition: color 0.3s ease;
}

header .dropdown-item {
	color: black !important;  /* 强制黑色 */
	transition: color 0.3s ease;
}

/* 鼠标悬停时字体颜色为淡绿色 */
header .nav-link:hover {
	color: #20c997 !important;  /* 更具体的淡绿色 */
}

header .dropdown-item:hover {
	color: #20c997 !important;  /* 更具体的淡绿色 */
}



/* 消息徽章位置 */
header .badge {
	position: absolute;
	top: -3px;
	left: 33px;
}


header .search-container {
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	border-radius: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 5px 10px;
	width: 300px;
}

header .search-input {
	flex: 1;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 14px;
	color: #9e9e9e;
	padding: 5px 10px;
}

header .search-input::placeholder {
	color: #d3d3d3;
}

/* 分割线 */
header .divider {
	width: 1px; /* 分割线宽度 */
	height: 20px; /* 分割线高度 */
	background-color: #d3d3d3; /* 分割线颜色 */
	margin: 0 10px; /* 与输入框和按钮的间距 */
}

header .search-button {
	display: flex;
	align-items: center;
	border: none; /* 移除边框 */
	background: none; /* 清除背景 */
	color: #20c997; /* 设置字体颜色 */
	font-size: 14px;
	cursor: pointer; /* 鼠标悬停变成手形 */
	outline: none; /* 移除点击时的外边框 */
}
header .search-button:focus {
	outline: none; /* 禁止焦点状态下的外边框 */
	box-shadow: none; /* 防止某些浏览器添加阴影 */
}

header .search-icon {
	font-weight: bold;
	margin-right: 5px;
}





footer {
	padding: 20px 0;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer .qrcode {
	text-align: center;
}

footer .detail-info{
	border-left: 1px solid #888;
}

footer .company-info li {
	padding-left: 16px;
	margin: 4px 0;
}

.main {
	padding: 20px 0;
	padding-bottom: 200px;
}

.main .container {
	background: #fff;
	padding: 20px;
}

i {
	font-style: normal;
}

u {
	text-decoration: none;
}

b {
	font-weight: normal;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
}

.font-size-12 {
	font-size: 12px;
}
.font-size-14 {
	font-size: 14px;
}
.font-size-16 {
	font-size: 16px;
}
.font-size-18 {
	font-size: 18px;
}
.font-size-20 {
	font-size: 20px;
}
.font-size-22 {
	font-size: 20px;
}
.font-size-24 {
	font-size: 20px;
}

.hidden {
	display: none;
}

.rt-0 {
	right: 0;
	top: 0;
}

.square {
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #ff6547;
	margin-bottom: 2px;
	margin-right: 3px;
}

.bg-gray {
	background: #eff0f2;
}

.user-header {
	width: 50px;
	height: 50px;
}

em {
	font-style: normal;
	color: red;
}
